<!DOCTYPE html>
<html lang="ja">

<head>

    <link rel="icon" type="image/ico" href="./image/icon.ico">
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/style1.css">
    <!--test.cssファイルからスタイルシートを読み込み-->
    <title>のっティばすきて</title>
</head>

<body>
    <main>

        <article>
            <h1 class="page-title">のっティバスきて</h1>
        </article>

        <div class="inner">
            <a class="button1" href="/reservation">のっティばすきて</a><br>
            <a class="button2" href="https://nottydoko-demo.sodeproject.com/">のっティばすどこ</a>
        </div>

    </main>
</body>

</html>