<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="icon" type="image/ico" href="./static/image/icon.ico">
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>のっティばすきて</title>
</head>

<body>
    <main>
        <article>
            <h1 class="page-title">のっティバスきて</h1>
        </article>

        <div class="inner">
            <a> href="/reservation">のっティばすきて</a> <br>
            <a> href="https://nottydoko-demo.sodeproject.com/">のっティばすどこ</a>
        </div>

    </main>
</body>

</html>